.about-main {
    margin-top: 60px;
    text-align: center;
    background-color: #D3D3D3;
    padding-top: 30px;
}
.about-iframe {
    width: 100%;
    height: 450px;
    border: 0;
}
.about-container {
    width: 90%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    text-align: right;
    align-items: center;
    padding: 10px 0 20px 0;
}