.dialog-login {
    margin-top: 5%;
    text-align: center;
    width: 400px;
    height: 390px;
}
.dialog-img {
    width: 180px;
    height: 90px;
    margin: auto;
}
.account {
    color: #22668D;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
}
.button {
    background: #22668D;
    color:#fff;
    padding:5px 40px;
    box-shadow:none;
    font-weight:600;
    width:200px;
}